SQLSearch.json
{
  "name": "SQLSearch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LineME",
        "options": {}
      },
      "id": "cce50ef7-e49c-4a5b-89e3-efd31a38d8ef",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        -520
      ],
      "webhookId": "1242e269-a72a-4d23-a1d4-5608468988f0",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1060,
        -220
      ],
      "id": "04eb8ae5-91a5-4fe9-ae17-1dd648565d5f",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "XKpqDhGNiC0j4FVV",
          "name": "Microsoft SQL account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=請依照使用者的要求進行生成MSSQL的語法搜尋指定的資料庫裡的資料，只要生成資料庫語法就好\n\n請以純文字形式返回 SQL 查詢，無需使用格式化語法（如 ```sql 和換行符）\n範例：Select 欄位 from 資料表 後面加使用者更詳細要求，沒有的話就不用\n\n這是使用者的訊息\n{{ $('When chat message received').item.json.chatInput }}\n\n這是資料庫所有的資料表與欄位名稱\n{{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        740,
        -220
      ],
      "id": "48ff43ca-67d1-4cb8-bd4a-c8d2fd1b5253",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "id": "7c523b54-7a79-4087-9d50-e6b721bc2456",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1xPYoon7Tv9YPZa7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -220
      ],
      "id": "2a4a63d2-da8f-4cad-b3ff-638913c7e242",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT TABLE_NAME\nFROM INFORMATION_SCHEMA.COLUMNS\nWHERE TABLE_SCHEMA = 'dbo';\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        600,
        -420
      ],
      "id": "80a4795b-dee5-4ae6-9382-63d7544d6a4e",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "XKpqDhGNiC0j4FVV",
          "name": "Microsoft SQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "./mssql.json",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1220,
        -420
      ],
      "id": "2a6af063-dfae-43d0-a56e-73982fe33012",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdbeb308-85f1-491d-a00e-808b2e3b622f",
              "name": "table",
              "value": "={{$('Microsoft SQL1').item.json.TABLE_NAME}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        -420
      ],
      "id": "bb3966e2-0b3f-4ceb-94d7-1fcfb20c6e45",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COLUMN_NAME, \n  DATA_TYPE, \n  IS_NULLABLE, \n  COLUMN_DEFAULT\nFROM INFORMATION_SCHEMA.COLUMNS\nWHERE TABLE_NAME = '{{ $json[\"TABLE_NAME\"] }}'\n  AND TABLE_SCHEMA = 'dbo'\nORDER BY ORDINAL_POSITION;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        740,
        -420
      ],
      "id": "5d576f5c-c0f8-4e95-b79a-83199c4cf6f6",
      "name": "Microsoft SQL2",
      "credentials": {
        "microsoftSql": {
          "id": "XKpqDhGNiC0j4FVV",
          "name": "Microsoft SQL account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        440,
        -420
      ],
      "id": "30e41dfb-a988-46c2-ae5b-3bd61bb58373",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1060,
        -420
      ],
      "id": "b8ea708c-63a5-4b14-aac4-0ec59ad51cfe",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        -220
      ],
      "id": "be025dc0-09d4-4ff4-8bce-28e137613490",
      "name": "When chat message received",
      "webhookId": "4a293763-665a-49ff-ab39-34f613e67268"
    },
    {
      "parameters": {
        "fileSelector": "./mssql.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        260,
        -220
      ],
      "id": "7db5fcf1-3c69-4ab3-b509-37cdf3e803dc",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        -220
      ],
      "id": "e4645a54-a29c-4583-8a7c-8ec0810b6aa6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff813325-8762-483b-a659-b34a2c5e74c9",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -220
      ],
      "id": "2a0b9443-aa91-4ff0-bc6e-0721d3890654",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "LINE Webhook": {
      "main": [
        []
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0a98a83-a254-4c33-abe7-7813957d0b77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a34ad495ded7888fbfa00c6e48404e462c224f632a71b5b11414b9491426841"
  },
  "id": "Q9b8uqLFu9nT5Mpo",
  "tags": []
}